// Button
.dd-btn {
    background-image: none;
    border: 0;
    border-radius: 0;
    color: @dd-color-white;
    font-size: @font-size-base;
    font-weight: bold;
    height: @dd-btn-height;
    text-shadow: none;
    text-transform: uppercase;
    width: @dd-btn-width;

    &:hover, &:focus {
        color: @dd-color-white;
    }
}
// Button primary
.dd-btn.btn-primary {
    background-color: @dd-color-green-light;

    &:hover, &:focus {
        background-color: @dd-color-green-dark;
        border-color: none;
    }
}
// Button secondary
.dd-btn.btn-secondary {
    background-color: @dd-color-blue-light;

    &:hover, &:focus {
        background-color: @dd-color-blue-dark;
        border-color: none;
    }
}
// Button with action
.dd-btn.btn-with-action {
    background-color: @dd-color-white;
    border: 2px solid @dd-color-green-light;
    color: @dd-color-green-light;

    &:hover, &:focus {
        background-color: @dd-color-white;
        border-color: none;
    }
    i {
        display: inline-block;
        margin-right: 5px;
    }
}

/**
 * Toggles and view as
 */
@dd-form-btngroup-selected-color: #6c808f;
.btn-group {
    button {
        color: @dd-form-btngroup-selected-color;
        font-weight: bold;

        &.selected {
            color: @dd-color-white;
        }
        &:active {
            box-shadow: none;
        }
    }
    // Toggles
    &.toggle {
        button {
            border: 2px solid @dd-form-btngroup-selected-color;
            background-color: @dd-color-white;
            min-width: 90px;

            &.selected {
                background-color: @dd-form-btngroup-selected-color;
                color: @dd-color-white;
            }
        }
    }
    // Toggles
    @dd-form-btngroup-view-bg-color: #eef3f4;
    &.view {
        button {
            background-color: @dd-form-btngroup-view-bg-color;
            border: none;
            font-size: 1.3rem;
            &.selected {
                background-color: @dd-form-btngroup-selected-color;
                color: @dd-color-white;
            }
        }
    }
}