@font-face {
  font-family: 'FontDeskDonkie';
  src:url('fonts/FontDeskDonkie.eot');
  src:url('fonts/FontDeskDonkie.eot?#iefix') format('embedded-opentype'),
  url('fonts/FontDeskDonkie.woff') format('woff'),
  url('fonts/FontDeskDonkie.ttf') format('truetype'),
  url('fonts/FontDeskDonkie.svg#FontDeskDonkie') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fdd-"], [class*=" fdd-"] {
  font-family: 'FontDeskDonkie';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fdd-weekly-earnings:before {
  content: "\e000";
}
.fdd-user:before {
  content: "\e001";
}
.fdd-tasks:before {
  content: "\e002";
}
.fdd-rate:before {
  content: "\e003";
}
.fdd-radiobtn-selected:before {
  content: "\e004";
}
.fdd-earnings:before {
  content: "\e005";
}
.fdd-distribution:before {
  content: "\e006";
}
.fdd-connections:before {
  content: "\e007";
}
.fdd-clock:before {
  content: "\e008";
}
.fdd-checkbox-selected:before {
  content: "\e009";
}
.fdd-checkbox:before {
  content: "\e00a";
}
.fdd-production:before {
  content: "\e00b";
}
.fdd-payments:before {
  content: "\e00c";
}
.fdd-management:before {
  content: "\e00d";
}
.fdd-local:before {
  content: "\e00e";
}
.fdd-list-view:before {
  content: "\e00f";
}
.fdd-home-tasks:before {
  content: "\e010";
}
.fdd-grid:before {
  content: "\e011";
}
.fdd-folder:before {
  content: "\e012";
}
.fdd-expert-advice:before {
  content: "\e013";
}
.fdd-editing:before {
  content: "\e014";
}
.fdd-radiobtn:before {
  content: "\e015";
}
