@dd-dropdown-height: 38px;
@dd-dropdown-bg-color: #ecf0f1;
@dd-dropdown-hover-color: #d1dbe2;

.dropdown {
    background-color: @dd-dropdown-bg-color;
    border: 1px solid @dd-dropdown-bg-color;
    cursor: pointer;
    border-radius: 2px;
    height: @dd-dropdown-height;
    line-height: @dd-dropdown-height;
    padding-left: @dd-padding-default;
    width: 250px;

    // Toggle link
    a {
        color: @dd-color-gray-light;

        &:hover {
            color: @dd-color-gray-light;
            text-decoration: none;
        }
    }
    > a {
        .toggle-btn {
            border-left: 1px solid @dd-dropdown-hover-color;
            display: inline-block;
            float:right;
            height: @dd-dropdown-height;
            line-height: @dd-dropdown-height;
            text-align: center;
            width: 36px;
            &:hover {
                background-color: @dd-dropdown-hover-color;
            }
        }
    }
}
.dropdown .dropdown-menu {
    background-color: @dd-dropdown-bg-color;
    border-color: @dd-dropdown-bg-color;
    box-shadow: none;
    -webkit-box-shadow: none;
    top: 130%;
    width: 100%;
    > li > a {
        color: @dd-color-gray-light;
    }
    li a:hover {
        background-color: @dd-dropdown-hover-color;
    }

    &:before {
        border-bottom: 10px solid @dd-dropdown-bg-color;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        content: ' ';
        height: 0;
        position: absolute;
        right: 7px;
        top: -10px;
        width: 0;
    }
}