/**
 * Forms less
 */

@dd-form-input-color: #d1dbe2;
@dd-form-input-color-success: #02c466;
@dd-form-input-color-font-success: #34495e;
@dd-form-input-color-error: @dd-color-red;
@dd-form-input-color-disabled: #eef3f4;

.form {
    input.form-control {
        color: @dd-form-input-color;
    }
    input.form-control:focus,
    textarea.form-control:focus,
    select.form-control:focus {
        border-color: @dd-form-input-color-success;
        box-shadow: none;
        color: @dd-form-input-color-font-success;
    }
    // Field active
    input.ng-valid {
        border-color: @dd-form-input-color-success;
        color: @dd-form-input-color-font-success;
    }
    // Field with error
    input.ng-invalid {
        border-color: @dd-form-input-color-error;
        color: @dd-form-input-color-error;
    }
    // Field disabled
    input.disabled {
        background-color: @dd-form-input-color-disabled;
        border-color: @dd-form-input-color-disabled;
        box-shadow: none;
    }
    .error-message {
        color: @dd-form-input-color-error;
        margin-top: 5px;
    }
}

/**
 * Checkboxes
 */
@dd-form-checkbox-bg-color: #d3dde4;
@dd-form-checkbox-border-radius: 3px;
@dd-form-checkbox-size: 16px;
@dd-form-checkbox-content: '\2713'; // Unicode char for strong tick
input[type="checkbox"] {
    display: none;

    + label {
        cursor: pointer;
        font-size: @font-size-base;
        position: relative;
        padding-left: @dd-padding-default + 5;

        &:before {
            background-color: @dd-form-checkbox-bg-color;
            border: 1px solid @dd-form-checkbox-bg-color;
            -webkit-border-radius: @dd-form-checkbox-border-radius;
            -moz-border-radius: @dd-form-checkbox-border-radius;
            -ms-border-radius: @dd-form-checkbox-border-radius;
            -o-border-radius: @dd-form-checkbox-border-radius;
            border-radius: @dd-form-checkbox-border-radius;
            content: "";
            height: @dd-form-checkbox-size;
            left: 0;
            line-height: @dd-form-checkbox-size;
            width: @dd-form-checkbox-size;
            position:absolute;
            text-align: center;
        }
        &:hover:before {
            content: @dd-form-checkbox-content;
            color: @dd-color-white;
        }
    }
    &:checked + label {
        &:before {
            background-color: @dd-color-green-light;
            border: 1px solid @dd-color-green-light;
            color: @dd-color-white;
            content: @dd-form-checkbox-content;
        }
    }
    &.disabled + label {
        cursor: not-allowed;

        &:hover:before {
            content: '';
        }
    }
}

/**
 * Radio buttons
 */
@dd-form-radiobtn-bg-color: #d3dde4;
@dd-form-radiobtn-border-radius: 8px;
@dd-form-radiobtn-size: 16px;
@dd-form-radiobtn-content: '\2022'; // Unicode char for dot
input[type="radio"] {
    display: none;

    + label {
        cursor: pointer;
        font-size: @font-size-base;
        position: relative;
        padding-left: @dd-padding-default + 5;

        &:before {
            background-color: @dd-color-white;
            border: 2px solid @dd-form-radiobtn-bg-color;
            -webkit-border-radius: @dd-form-radiobtn-border-radius;
            -moz-border-radius: @dd-form-radiobtn-border-radius;
            -ms-border-radius: @dd-form-radiobtn-border-radius;
            -o-border-radius: @dd-form-radiobtn-border-radius;
            border-radius: @dd-form-radiobtn-border-radius;
            content: "";
            font-size: 2.6rem;
            height: @dd-form-radiobtn-size;
            left: 0;
            line-height: 12px;
            width: @dd-form-radiobtn-size;
            position:absolute;
            text-align: center;
        }
        &:hover:before {
            color: @dd-form-radiobtn-bg-color;
            content: @dd-form-radiobtn-content;
        }
    }
    &:checked + label:before{
        border-color: @dd-color-green-light;
        content: @dd-form-radiobtn-content;
        color: @dd-color-green-light;

    }
}

/**
 * Tags
 */
@dd-form-tags-bg-color: #d3dde4;
@dd-form-tags-bg-color-hover: #96a4af;
@dd-form-tags-bg-color-selected: @dd-color-green-light;
@dd-form-tag-border-radius: 4px;
.tag-container {
    button {
        background-color: @dd-form-tags-bg-color;
        border: 1px solid transparent;
        -webkit-border-radius: @dd-form-tag-border-radius;
        -moz-border-radius: @dd-form-tag-border-radius;
        -ms-border-radius: @dd-form-tag-border-radius;
        -o-border-radius: @dd-form-tag-border-radius;
        color: @dd-color-white;
        width: auto;

        &:hover {
            background-color: @dd-form-tags-bg-color-hover;
            border-color: @dd-form-tags-bg-color-hover;
            color: @dd-color-white;
        }
        &.selected {
            background-color: @dd-form-tags-bg-color-selected;
        }
    }
}

/**
 * Uploader css
 */
@dd-form-uploader-color: #bfc7cd;
@dd-form-uploader-preview-color: #eef3f4;
@dd-form-uploader-file-height: 80px;
@dd-form-uploader-file-width: 90px;
.uploader-container {
    .file {
        font-size: @font-size-base;
        margin-bottom: @dd-margin-default;
        margin-right: @dd-margin-default;
    }
    // Media button
    .fa.media-btn {
        border: 2px dashed @dd-form-uploader-color;
        border-radius: 5px;
        color: #bfc7cd;
        font-size: 3.6rem;
        height: @dd-form-uploader-file-height;
        line-height: 75px;
        padding-left: 28px;
        position: relative;
        width: @dd-form-uploader-file-width;

        &:hover {
            border-color: @dd-color-green;
            color: @dd-color-green;
            cursor: pointer;
            text-decoration: none;
        }

        &.upload-btn {
            margin-right: @dd-margin-default;
            padding-right: @dd-padding-default;
        }
    }
    // Preview file element
    .fa.media-btn.preview-btn {
        cursor: default;
        color: @dd-form-uploader-color;
        border: 1px solid @dd-form-uploader-preview-color;
        background-color: @dd-form-uploader-preview-color;

        &:hover {
            border-color: @dd-form-uploader-color;
            color: @dd-form-uploader-color;
        }
    }
    // Preview image element
    .fa.media-btn.preview-img-btn {
        cursor: default;
        color: @dd-form-uploader-color;
        border: 1px solid @dd-form-uploader-preview-color;
        background-color: @dd-form-uploader-preview-color;

        img {
            border-radius: 5px;
            height: 80px;
            left: 0;
            position: absolute;
            width: 90px;
        }
    }
    // Delete uploaded file button
    .fa.media-btn .fa.delete-btn {
        color: @dd-color-gray;
        cursor: pointer;
        font-size: 1.5rem;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 100;

        &:hover {
            color: @dd-color-gray-light;
        }
    }
    // Uploaded file name
    .filename {
        width: @dd-form-uploader-file-width;
    }
}

/**
 * Message area
 */
@dd-form-messagearea-color-bg: #edf1f4;
.message-area {
    background-color: @dd-form-messagearea-color-bg;
    padding: @dd-padding-default;

    header {
        background-color: @dd-form-messagearea-color-bg;
        position: relative;

        .user {
            background-color: #b9b9b9;
            height: 32px;
            line-height: 32px;
            margin-right: @dd-margin-default;
            text-align: center;
            width: 32px;

            i {
                color: @dd-color-white;
                font-size: @font-size-large;
            }
        }

        .details {
            .name {
                font-size: @font-size-base;
                font-weight: bold;
            }
            .date {
                font-size: @font-size-small;
            }
        }

        .state {
            color: @dd-color-white;
            font-size: @font-size-small;
            font-weight: bold;
            padding: 5px;
            position: absolute;
            right: 0;
            text-transform: uppercase;

            &.approved {
                background-color: @dd-color-green-light;
            }
            &.revision {
                background-color: #e14414;
            }
        }
    }

}