.category-icon {
    color: @dd-color-green-light;
    display: inline-block;
    font-size: 40px;
    margin-right: @dd-margin-default;
}
.sidebar-icon {
    color: #242a34;
    font-size: 1.7rem;
    margin-right: 10px;
    vertical-align: sub;
}

