// Core
@import 'variables.less';
@import 'utilities.less';

// Fonts
@import 'deskdonkie-font.less';

// Components
@import 'buttons.less';
@import 'dropdowns.less';
@import 'forms.less';
@import 'icons.less';
@import 'navbar.less';
@import 'progress-bars.less';
@import 'scaffolding.less';
@import 'type.less';

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    body {
        font-family: @font-family-open-sans;
    }
}
hr {
    display: block;
    margin: 40px auto;
    width: 350px;
}
header.topnav {
    background-color: #1E1E1E;
    display: block;
    height: 260px;
    position: relative;

    #logo {
        background: transparent url(images/logo.png) no-repeat;
        height: @dd-logo-height;
        left: 50%;
        margin-left: -@dd-logo-width/2;
        margin-top: -@dd-logo-height/2;
        position: absolute;
        top: 50%;
        width: @dd-logo-width;
    }
}