// ---------------------------
// Sidebar
// ---------------------------

@dd-sidebar-color-bg: @dd-color-blue;
@dd-sidebar-color-link-hover: @dd-color-blue-dark;
@dd-sidebar-color-link-selected: @dd-color-green-light;
@dd-sidebar-root-item-height: 50px;
@dd-sidebar-width: 250px;

.sidebar {
    background-color: @dd-sidebar-color-bg;
    width: @dd-sidebar-width;

    .nav {
        li {
            a {
                &:hover {
                    background-color: @dd-sidebar-color-link-hover;
                }
            }
        }
        > li {
            border-bottom: 1px solid @dd-sidebar-color-link-hover;

            &.active > a {
                background-color: @dd-sidebar-color-link-hover;
            }

        }
        > li {
            a {
                font-size: 1.1rem;
            }
            > a {
                color: @dd-color-white;
                font-weight: bold;
                height: @dd-sidebar-root-item-height;
                line-height: @dd-sidebar-root-item-height - 20; // Subtract the anchor padding
                text-transform: uppercase;

                i.toggle-menu {
                    color: white;
                    font-size: 1.1rem;
                    position: absolute;
                    top: 20px;
                    right: @dd-margin-default;
                }
            }
        }
        > li.active {
            &.active > a {
                background-color: @dd-sidebar-color-link-hover;
            }
        }
    }
}

/**
 * Sidebar sub-menus
 */
.sidebar {

    .nav {
        .sub-menu {
            padding: 15px 0;

            li {
                list-style: none;

                &.active {
                    a {
                        color: @dd-sidebar-color-link-selected;
                    }
                }
                a {
                    display: block;
                    color: @dd-color-gray-light;
                    padding: 5px 0 5px 44px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

