@dd-progressbar-color: #ecf0f1;
@dd-progressbar-color-progress: #fecb31;
@dd-progressbar-color-completed: @dd-color-green-light;
.progress {
    height: 5px;

    .progress-bar {
        background-color: @dd-progressbar-color-progress;
    }
    .progress-bar.completed {
        background-color: @dd-progressbar-color-completed;
    }
}