a {
    color: @dd-color-green-light;

    &:hover {
        color: @dd-color-green-light;
        text-decoration: underline;
    }
}

p {
    color: @dd-color-gray;
    font-size: @font-size-base;
    line-height: @font-size-large;
}