//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h1 {
    color: @dd-color-gray-dark;
    font-size: ceil(@font-size-base * 1.85); // ~24px
}
h2 {
    color: @dd-color-gray-dark;
    font-size: @font-size-medium;
}
h3 {
    color: @dd-color-gray-dark;
    font-size: @font-size-small;
    text-transform: uppercase;
}
