// ------------------------
// Colors
// ------------------------

// Basic
@dd-color-black: #000;
@dd-color-white: #fff;

// Blues
@dd-color-blue-light: #5c697c;
@dd-color-blue: #424e5f;
@dd-color-blue-dark: #394352;

// Grays
@dd-color-gray-light-shade1: #f6f8fa;
@dd-color-gray-light: #8a8a8a;
@dd-color-gray: #565656;
@dd-color-gray-dark: #282828;
@dd-color-gray-blue: #47505d;

// Greens
@dd-color-green-light: #00c563;
@dd-color-green: #02c466;
@dd-color-green-dark: #03a453;

// Reds
@dd-color-red: #e74c3c;
// ------------------------
// Components
// ------------------------

// Buttons
@dd-btn-height: 40px;
@dd-btn-width: 200px;

// ------------------------
// Grid
// ------------------------
@dd-margin-default: 15px;
@dd-padding-default: 15px;

// ------------------------
// Typography
// ------------------------

@font-family-open-sans:   "Open Sans",Arial,Helvetica,sans-serif;
@font-deskdonkie-glyphs:  "FontDeskDonkie";
@font-family-base:        @font-family-open-sans;

@font-size-base:  13px;
@font-size-medium: ceil(@font-size-base * 1.10); // ~14px
@font-size-large: ceil(@font-size-base * 1.38); // ~18px
@font-size-small: ceil(@font-size-base * 0.846); // ~11px

// ------------------------
// Header
// ------------------------

@dd-logo-height: 40px;
@dd-logo-width: 162px;
