<!doctype html>
<html lang="en" ng-app="styleGuide" ng-controller="styleguideCtrl">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>

    <!-- font awesome from BootstrapCDN -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:,400,600' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

</head>
<body>

<header class="topnav">
    <div id="logo"></div>
</header>

<!-- Basic Elements -->
<h1>Basic Elements</h1>

<div class="clearfix">
    <!-- Buttons -->
    <div class="col-sm-6 clearfix">
        <h1>Buttons</h1>

        <div class="col-sm-6 first">
            <button type="button" class="dd-btn btn-primary">Primary Btn</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="dd-btn btn-secondary">Secondary Btn</button>
        </div>
    </div>
    <!-- Buttons with icons -->
    <div class="col-sm-6 clearfix">
        <h1>Buttons with Icons</h1>

        <div class="col-sm-12 first">
            <button type="button" class="dd-btn btn-with-action"><i class="fa fa-refresh"></i> Call to action</button>
        </div>
    </div>
</div>

<hr>

<div class="clearfix">
    <!-- Menu -->
    <div class="col-sm-6 clearfix">
        <h1>Menu</h1>

        <div class="sidebar">
            <ul class="nav nav-list">
                <li>
                    <a href="#">
                        <i class="fdd fdd-folder sidebar-icon"></i>
                        SECTION 1
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <i class="fdd fdd-tasks sidebar-icon"></i>
                        SECTION 2
                        <i class="fa toggle-menu fa-chevron-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="active"><a href="#">Item 01</a></li>
                        <li><a href="#">Item 02</a></li>
                        <li><a href="#">Item 03</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cloud-download sidebar-icon"></i>
                        SECTION 3
                    </a>
                </li>

            </ul>

        </div>
    </div>

    <!-- Dropdown Menu -->
    <div class="col-sm-6 clearfix">
        <h1>Dropdown Menu</h1>

        <div class="dropdown">
            <a class="dropdown-toggle">
                Click me for a dropdown, yo!
                <span class="toggle-btn">
                    <i class="fa fa-chevron-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="choice in ddItems">
                    <a>{{choice}}</a>
                </li>
            </ul>
        </div>

    </div>
</div>

<hr>

<div class="col-sm-12 clearfix">
    <!-- Inputs -->
    <h1>Inputs</h1>
    <form class="form">
        <div class="col-sm-4 first">
            <label>Label</label>
            <input type="text" class="form-control" value="Text">
        </div>
        <div class="col-sm-4">
            <label>Label</label>
            <input type="text" class="form-control ng-invalid ng-dirty" value="Alert">
        </div>
        <div class="col-sm-4">
            <label>Label</label>
            <input type="text" class="form-control disabled" value="Disabled" disabled>
        </div>
    </form>
</div>

<hr>

<div class="clearfix">
    <!-- Validation tooltips -->
    <div class="col-sm-6">
        <h1>Validation Tooltips</h1>
        <form class="form">
            <div>
                <label>Label</label>
                <input type="text" class="form-control" value="Focus to see the tooltip" tooltip="See? Now click away..."  tooltip-trigger="focus" tooltip-placement="right" class="form-control">
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <!-- Progress bars -->
        <h1>Progress bars</h1>
        <div>
            <label>Default (0%)</label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span class="sr-only">0% Complete</span>
                </div>
            </div>
        </div>
        <div>
            <label>In progress (40%)</label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                    <span class="sr-only">40% Complete</span>
                </div>
            </div>
        </div>
        <div>
            <label>Completed (100%)</label>
            <div class="progress">
                <div class="progress-bar completed" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="sr-only">100% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="clearfix">
    <!-- Checkboxes -->
    <div class="col-sm-3">
        <h1>Checkboxes</h1>
        <form class="form">
            <div>
                <input type="checkbox" id="cb1">
                <label for="cb1">Unchecked item</label>
            </div>
            <div>
                <input type="checkbox" id="cb2" checked>
                <label for="cb2">Checked item</label>
            </div>
            <div>
                <input type="checkbox" class="disabled" id="cb3" disabled>
                <label for="cb3">Disabled item</label>
            </div>
        </form>
    </div>
    <!-- Radio buttons -->
    <div class="col-sm-3">
        <h1>Radio buttons</h1>
        <form class="form">
            <div>
                <input type="radio" name="option" id="rb1" value="1" checked>
                <label for="rb1">Checked option</label>
            </div>
            <div>
                <input type="radio" name="option" id="rb2" value="2">
                <label for="rb2">Unchecked option</label>
            </div>
        </form>
    </div>
    <!-- Tags -->
    <div class="col-sm-3">
        <h1>Tags</h1>
        <form class="form">
            <div class="tag-container">
                <button class="btn" type="button">Clean</button>
                <button class="btn" type="button">Fresh</button>
                <button class="btn" type="button">Modern</button>
                <button class="btn selected" type="button">Unique</button>
            </div>
        </form>
    </div>
    <div class="col-sm-3">
        <!-- Toggles -->
        <h1>Toggles</h1>
        <form class="form">
            <div class="btn-group toggle">
                <button type="button" class="btn selected">On</button>
                <button type="button" class="btn">Off</button>
            </div>
        </form>
        <!-- View as -->
        <h1>View as</h1>
        <form class="form">
            <div class="btn-group view">
                <button type="button" class="btn selected"><i class="fdd fdd-list-view"></i></button>
                <button type="button" class="btn"><i class="fdd fdd-grid"></i></button>
            </div>
            <br><br>
            <div class="btn-group view">
                <button type="button" class="btn"><i class="fdd fdd-list-view"></i></button>
                <button type="button" class="btn selected"><i class="fdd fdd-grid"></i></button>
            </div>
        </form>
    </div>
</div>

<hr>

<div class="clearfix">
    <div class="col-sm-3">
        <!-- Headers -->
        <h1>Headers</h1>

        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
    </div>
    <div class="col-sm-4">
        <!-- Paragraph Text -->
        <h1>Paragraph Text</h1>
        <p>
            <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
        </p>
        <p>
            It has survived not only five centuries, but also the leap into <a href="#">electronic typesetting</a>, remaining
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </p>
    </div>
</div>

<hr>

<div class="clearfix">
    <div class="col-sm-3">
        <!-- Glyphs -->
        <h1>Glyphs</h1>
        <i class="fdd fdd-folder sidebar-icon"></i>
        <i class="fdd fdd-tasks sidebar-icon"></i>
        <i class="fa fa-cloud-download sidebar-icon"></i>
        <i class="fdd fdd-connections sidebar-icon"></i>
    </div>
    <div class="col-sm-4">
        <!-- Category Icons -->
        <h1>Category Icons</h1>
        <i class="fdd fdd-production category-icon"></i>
        <i class="fdd fdd-editing category-icon"></i>
        <i class="fdd fdd-distribution category-icon"></i>
        <i class="fdd fdd-management category-icon"></i>
        <i class="fdd fdd-expert-advice category-icon"></i>
        <i class="fa fa-gear category-icon"></i>
        <i class="fdd fdd-local category-icon"></i>
    </div>
</div>

<hr>

<div class="clearfix">
    <div class="col-sm-12">
        <!-- Uploaders -->
        <h1>Uploaders</h1>

        <div class="uploader-container">
            <a class="media-btn upload-btn fa fa-cloud-upload left"></a>
            <div class="file left ng-scope">
                <a class="media-btn preview-btn fa fa-camera">
                    <i class="delete-btn fa fa-times-circle" title="The title..."></i>
                </a>
                <div class="filename crop">filename.pdf</div>
            </div>
            <div class="file left ng-scope">
                <a class="media-btn preview-btn fa fa-camera">
                    <i class="delete-btn fa fa-times-circle" title="The title..."></i>
                </a>
                <div class="filename crop">filename.pdf</div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="clearfix">
    <div class="col-sm-6">
        <!-- Messaging -->
        <h1>Messaging</h1>

        <div class="message-area">
            <header class="clearfix">
                <div class="left user">
                    <i class="fa fa-user"></i>
                </div>
                <div class="left details">
                    <div class="name">Tasker 01</div>
                    <div class="date">10 Jul 2013</div>
                </div>
                <div class="state revision">Revision Requested</div>
            </header>
            <section class="gutter-top">
                <p>Free text goes here...</p>
            </section>
        </div>

        <br><br>

        <div class="message-area">
            <header class="clearfix">
                <div class="left user">
                    <i class="fa fa-user"></i>
                </div>
                <div class="left details">
                    <div class="name">Tasker 01</div>
                    <div class="date">10 Jul 2013</div>
                </div>
                <div class="state approved">Approved</div>
            </header>
            <section class="gutter-top">
                <p>Free text goes here...</p>
            </section>
        </div>

    </div>
</div>

<hr>


<!--
    // --------------------
    // Load Js Files
    // --------------------
-->
<script src="http://code.angularjs.org/1.2.10/angular.min.js"></script>
<script src="http://code.angularjs.org/1.2.10/angular-route.min.js"></script>
<script src="/src/lib/ui-bootstrap-tpls-0.10.0.js"></script>

<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script><% }); %>

</body>
</html>
